@font-face{
	font-family: "Comfortaa-Bold";
	 src: url("../fonte/Comfortaa-Bold.ttf") format("truetype");
}
body{
	background-size:cover;
	background: url('../imagens/summoon.jpeg')no-repeat;
	background-position: center center;
	background-attachment: fixed;
	font-family: "Comfortaa-Bold";
	overflow-x: hidden;	
	-o-overflow-x: hidden;	
}
section#cont #logo{
	width: 80px;
	height: 80px;
	background:url('../imagens/logosite.png')no-repeat;
	color: transparent;
	background-size: contain;
	padding: 0px 0px;
	margin-left: 50px;
	margin-top: 20px;
	float: left;
}
section#cont #logo-label{
	font-size: 30px;
	color: #3b5aa6;
	margin: 40px 0 0 5px;
	text-shadow: 1px 1px 1px black;
	float: left;
}
section#cont h1{
	font-size: 50px;
	color: #3b5aa6;
	text-shadow: 2px 2px 2px black;
	padding-top: 100px;
	margin-bottom: 20px;
	
}
section#cont p{
	font-size: 20px;
	color: white;
	text-shadow: 2px 2px 2px black;
	text-align: justify;
}

.box-login{
	width: 400px;
	min-height: 400px;
	height: auto;
	text-align: center;
	margin: 80px 0 10px 30px;
	padding-bottom: 20px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 2px 2px 2px black;
}
.page-header{
	text-align: center;
	padding-top: 1px;
}
form label{
	font-size: 20px;
	color:#3b5aa6;
	font-weight: bold;
	text-align: center;
}
button[type = "submit"]{
	margin-top: 20px;
	margin-bottom: 20px; 
}
.input{
	margin-left: 40px;
}
.modal-content{
	text-align: center;
}