@font-face{
	font-family: "Comfortaa-Bold";
	 src: url("../fonte/Comfortaa-Bold.ttf") format("truetype");
}
html {
    position: relative;
    min-height: 100%;
}
body {
	font-family: "Comfortaa-Bold";
    margin: 0 0 100px; /* altura do seu footer */
    overflow-x: hidden;
}
#logo{
	width: 90px;
	height: 60px;
	background: url('../imagens/logosite.png')no-repeat;
	background-size: contain;
	position: relative;
	bottom: 10px;
}
nav.nav-header{
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #3b5aa6;
 	border:none;
 	position: absolute;
 	top: 0;
 	width: 100%;
}
.navbar-brand{
	padding: 5px 15px;
}
.navbar-default .navbar-nav>li>a{
	color:#ffcb05;
	text-decoration: none;
}
.navbar-default .navbar-nav>li>a:hover{
	color: white;
}
footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #3b5aa6;
}
footer .social{
	padding: 30px 0px;
	margin-right: 15px;
	float: left;
}
.fb{
	color: white;
}
.fb:hover{
	color: #ffcb05;
}
footer label{
	position: relative;
	padding-top: 5px;
	right: 160px;
	color: #ffcb05;
}