section#perfil-usuario{
	min-height: 900px;
	height: auto;
}
#botao-edicao{
	width: 700px;
	height: 60px;
	margin: 30px auto;

}
button .fa{
	color: #ffcb05;
}
button.edicao{
	margin-left: 20px;
	color: #3b5aa6;
}
button.edicao:hover{
	color: #ffcb05;
	background-color: #3b5aa6;
}
button.fa:hover{
	color: white;
}
#formulario-usuario{
	width: 400px;
	height: 500px;
	margin: auto;
	display: none;
}
#imagem-perfil{
	width: 200px;
	height: 200px;
	margin: auto;
	border:1px solid black;
	overflow: hidden;
	margin-bottom: 30px;
}
#formulario-endereco{
	width: 400px;
	height: 500px;
	margin: auto;
	display: none;
}
#dados-usuario{
	width: 400px;
	height: 500px;
	margin: auto;

}
