.box-conteudo{
	width: 100%;
	margin: 0 auto;
	height: auto;
	min-height: 620px;
	border: solid 1px black;
	border-radius: 3px 3px 3px;
	text-align: center;
}
.foto-perfil{
	width: 200px;
	height: 200px;
	margin: 30px auto;

}
.infos-perfil{
	margin-top: 10px;
	border-bottom: 1px solid;
	border-color: rgba(0,0,0,0.3);
}
#reputacao{
	display: inline-block;
}
.userball{
	width: 40px;
	height: 40px;
	background-image: url('../imagens/userball.png');
	background-size: contain;
	margin-left: 0px;
	float: left;
	
}
.clear{
	clear: both;
}
.cont {
    position: relative;
    width: 50%;
    margin: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.cont:hover .image {
  opacity: 0.3;
}

.cont:hover .middle {
  opacity: 1;
}

.text {
  
  color: #3b5aa6;
  font-size: 16px;
  padding: 16px 32px;
}
.botao-invisivel{
	border: none;
	background-color: transparent;
}
.cont-align{
	margin-left: 150px;
}

#image-preview {
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #ecf0f1;
  margin-bottom: 50px;
}
#image-preview input {
  line-height: 100px;
  font-size: 100px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #3b5aa6;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #ffcb05;
  text-align: center;
}